<div class="form-bg" fxLayoutAlign="center center">
  <mat-card fxFlex="350px">
    <mat-card-title>Password recovery</mat-card-title>
    <mat-card-content>
      <form novalidate [formGroup]="form">
        <div fxLayout="column" fxLayoutGap="10px">
          <div>
            Your original password remains always encrypted with Sample-App and can not be
            recovered.
            However, we can help you setup a new one. Enter your email below to initiate the
            process.
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="username">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <button fxFlexAlign="end" mat-button type="submit" color="primary"
                  [disabled]="form.invalid">RECOVER PASSWORD
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
