<mat-card>
  <mat-card-title>Files upload</mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form">
      <input type="hidden" formControlName="id">
      <div fxLayout="column" fxFill>
        <mat-form-field>
          <input matInput placeholder="Choose a file" (click)="file.click()"
                 formControlName="fileName" readonly class="file-selector">
          <div fxFlex="row" fxLayoutAlign="start center">
            <input type="file" (change)="selectFile($event)" #file hidden>
          </div>
        </mat-form-field>

        <mat-form-field class="xs-pt1">
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/files">CANCEL</button>
    <button mat-button color="primary" (click)="save()">SAVE</button>
  </mat-card-actions>
</mat-card>

