<form novalidate [formGroup]="newPasswordForm" (ngSubmit)="onSubmit(newPasswordForm)">
  <mat-card fxFlex="400px">
    <mat-card-title>You need to change your password</mat-card-title>
    <mat-card-content>
      <div fxLayout="column">
        <div *ngIf="errorMessage!=null" class="alert">
          {{ errorMessage }}
        </div>
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="username">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your existing password" [type]="hide1 ? 'password' : 'text'"
                 formControlName="existingPassword">
          <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your new password" [type]="hide2 ? 'password' : 'text'"
                 formControlName="newPassword">
          <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <button mat-button type="submit" color="primary" [disabled]="newPasswordForm.invalid">CHANGE PASSWORD</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
