<div fxLayout="row" class="top-line" fxLayoutAlign="left center">
  <div fxFlex fxGrow="0">
    <a href="https://admin.qlack-base-application-ui.io"><img src="/assets/img/logo.svg" class="logo"></a>
  </div>
  <div fxFlex fxGrow="1" class="logo-text">
    QLACK-Base-Application-UI
  </div>
  <div fxFlex fxGrow="0" *ngIf="isLoggedIn()">
    <div>{{ getUserEmail() }}</div>
  </div>
  <div fxFlex fxGrow="0" *ngIf="isLoggedIn()">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [routerLink]="['/' + 'logout']">Sign out</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_box</mat-icon>
    </button>
  </div>
</div>
