@use "tailwindcss";
@use "styles-variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@plugin "daisyui" {
  themes: all;
}
@theme {
  --font-sans: "Inter", sans-serif;
}

:root {
  --ng-progress-thickness: 2;
  //--ng-progress-color: theme('textColor.accent');
}

// Overrides
.mat-datepicker-popup {
  @apply bg-base-300;
}
