@import 'styles-variables.scss';
@import 'styles-material.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bf-solid/dist/solid.latest.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $e-color-black;
  background-color: $e-body !important;
  box-sizing: border-box;
  height: 100%;
  letter-spacing: 0.14px;
}

// Inline (inside mat-cards) headers, subheaders, etc.
.inline-header {
  font-size: 1.1rem;
  font-weight: 400;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.inline-subheader {
  font-size: 0.9rem;
  font-weight: 100;
  padding-bottom: 0 !important;
  margin-bottom: 0.4rem !important;
}

.mat-icon {
  vertical-align: middle;
}

.button-left {
  padding-left: 0px;
  width: 100px;
  text-align: left;
}

.mat-tab-header {
  margin-bottom: 2rem;
}
