<mat-list class="sidenav">
  <mat-list-item>
    <a routerLink="dashboard" routerLinkActive="active">
      <button type="button" mat-button>Dashboard</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="devices" routerLinkActive="active">
      <button type="button" mat-button>Devices</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="control" routerLinkActive="active">
      <button type="button" mat-button>Control</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="users" routerLinkActive="active">
      <button type="button" mat-button>Users</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="tags" routerLinkActive="active">
      <button type="button" mat-button>Tags</button>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="certificates" routerLinkActive="active">
      <button type="button" mat-button>Certificates</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="cas" routerLinkActive="active">
      <button type="button" mat-button>Certificate Authorities</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="stores" routerLinkActive="active">
      <button type="button" mat-button>Stores</button>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="provisioning" routerLinkActive="active">
      <button type="button" mat-button>Provisioning</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="infra" routerLinkActive="active">
      <button type="button" mat-button>Infrastructure</button>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="settings" routerLinkActive="active">
      <button type="button" mat-button>Settings</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="audit" routerLinkActive="active">
      <button type="button" mat-button>Audit</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="datasinks" routerLinkActive="active">
      <button type="button" mat-button>Data sinks</button>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="applications" routerLinkActive="active">
      <button type="button" mat-button>Applications</button>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <a routerLink="about" routerLinkActive="active">
      <button type="button" mat-button>About</button>
    </a>
  </mat-list-item>
</mat-list>
