<mat-list class="sidenav">
  <mat-list-item>
    <a routerLink="home" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>home</mat-icon>Home</button>
    </a>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <a routerLink="employee" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>table</mat-icon>Tables & CRUD</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="http" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>publish</mat-icon>Http</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="files" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>content_copy</mat-icon>Files</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="forms" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>list_alt</mat-icon>Form validation</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="sensitive" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>security</mat-icon>Sensitive data</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="popups" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>sms_failed</mat-icon>Popups & alerts</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="i18n" routerLinkActive="active">
      <button type="button" mat-button><mat-icon>language</mat-icon>Internationalisation</button>
    </a>
  </mat-list-item>

</mat-list>
