<div class="card w-full rounded-b-none">
  <div class="card-body">
    <h2 class="card-title text-2xl flex flex-row justify-between mb-10">
      <div class="flex flex-row gap-2">
        <i class="fa fa-home"></i>
        <div>Home</div>
      </div>
    </h2>
    <div>
      <p class="text-lg">Welcome to QLACK Base App!</p>
      <p>This is the content of your page</p>
    </div>
    <div class="card-actions justify-start mt-10 flex flex-col gap-5">
      <div class="flex flex-row gap-2">
        <button class="btn">Button</button>
        <button class="btn btn-neutral">Neutral</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-secondary">Secondary</button>
        <button class="btn btn-accent">Accent</button>
        <button class="btn btn-ghost">Ghost</button>
        <button class="btn btn-link">Link</button>
      </div>
      <div class="flex flex-row gap-2">
        <button class="btn btn-sm">Button</button>
        <button class="btn btn-sm btn-neutral">Neutral</button>
        <button class="btn btn-sm btn-primary">Primary</button>
        <button class="btn btn-sm btn-secondary">Secondary</button>
        <button class="btn btn-sm btn-accent">Accent</button>
        <button class="btn btn-sm btn-ghost">Ghost</button>
        <button class="btn btn-sm btn-link">Link</button>
      </div>
    </div>
  </div>
</div>
