<mat-card>
  <mat-list-item>
    <a [routerLink]="['/users']"
       class="table-action"
       color="accent"
       matTooltip="Users management"
       matTooltipPosition="above">
      <button type="button" mat-button>Users</button>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a [routerLink]="['/fileupload']"
       class="table-action"
       color="accent"
       matTooltip="Single file upload"
       matTooltipPosition="above">
      <button type="button" mat-button>Single File Upload</button>
    </a>
  </mat-list-item>
  <mat-card-content>
  </mat-card-content>
</mat-card>
