<div [ngClass]="sidebar ? 'w-52 pl-4' : 'w-14 transition-all ease-in-out duration-300 pl-4'" class="flex-col">
  <div class="flex flex-row">
    <button (click)="toggleSidebar()" class="btn btn-ghost" *ngIf="isLoggedIn()">
      <fa-icon icon="bars"></fa-icon>
    </button>
    <div class="flex flex-row" [ngClass]="isLoggedIn() ? '' : 'ml-4'">
      <img ngSrc="/assets/img/logo.png" alt="application logo" height="50" width="50">
      <div class="flex flex-col">
        <div class="text-xl">QLACK</div>
        <div class="text-sm">Base App</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col overflow-hidden mt-10" *ngIf="isLoggedIn()">
    <ul class="flex flex-col mb-10">
      <li *ngFor="let menuItem of menuItems">
        <!-- SIDEBAR FULL -->
        <div *ngIf="sidebar" [ngSwitch]="menuItem.type">
          <div *ngSwitchCase="menuItemType.CATEGORY" class="ml-4">
            <div class="relative flex py-3 items-center">
              <span class="flex-shrink text-gray-500">{{menuItem.title}}</span>
              <div class="flex-grow border-t border-gray-600 ml-1"></div>
            </div>
          </div>
          <div *ngSwitchCase="menuItemType.ITEM" class="antialiased tracking-wider my-0.5">
            <a [routerLink]="menuItem.route"
               class="flex flex-row items-center hover:bg-primary/20 rounded-r-2xl subpixel-antialiased"
               routerLinkActive="bg-primary hover:!bg-primary hover:!cursor-default text-white">
                <span
                  class="inline-flex h-10 w-12 items-center justify-center text-lg hover:cursor-pointer">
                  <fa-icon *ngIf="menuItem.icon" [icon]="menuItem.icon"></fa-icon>
                </span>
              <span class="">{{menuItem.title}}</span>
            </a>
          </div>
        </div>

        <!-- SIDEBAR MINI -->
        <div *ngIf="!sidebar" [ngSwitch]="menuItem.type">
          <div *ngSwitchCase="menuItemType.ITEM"
               [attr.data-tip]="menuItem.title">
            <a [routerLink]="menuItem.route"
               class="flex flex-row items-center hover:bg-primary/20 rounded-r-2xl my-2 pl-1"
               matTooltip="{{menuItem.title}}"
               matTooltipPosition="after"
               routerLinkActive="bg-primary hover:!bg-primary hover:!cursor-default text-white">
                <span
                  class="inline-flex h-10 w-20 items-center justify-center text-lg hover:cursor-pointer pr-8">
                  <fa-icon *ngIf="menuItem.icon" [icon]="menuItem.icon" size="lg"></fa-icon>
                </span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
