<mat-card>
  <mat-card-title>Sensitive content filtering</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="1rem">
    <div>
      <mat-icon>info</mat-icon> "createdOn" and "createdBy" are considered as a sensitive info on the
      examples below.
    </div>
    <div class="xs-mt2">
      <h3>One record, unfiltered</h3>
      <div class="code">
        {{oneUnfiltered | json}}
      </div>
    </div>
    <div>
      <h3>One record, filtered</h3>
      <div class="code">
        {{oneFiltered | json}}
      </div>
    </div>
    <div>
      <h3>Multiple records, unfiltered</h3>
      <div class="code">
        {{multipleUnfiltered | json}}
      </div>
    </div>
    <div>
      <h3>Multiple records, filtered</h3>
      <div class="code">
        {{multipleFiltered | json}}
      </div>
    </div>
  </mat-card-content>
</mat-card>
