<mat-card>
  <mat-card-title>Internationalisation</mat-card-title>
  <mat-card-content fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="row" fxLayoutGap="1rem">
      <div>{{ 'hello' | translate }}</div>
      <div>{{ 'good_morning' | translate }}</div>
      <div>{{ 'good_night' | translate }}</div>
    </div>
    <div fxLayout="row">
      <button mat-button (click)="switchEN()">SWITCH TO ENGLISH</button>
      <button mat-button (click)="switchFR()">SWITCH TO FRENCH</button>
    </div>
  </mat-card-content>
</mat-card>
